*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;   
}

.container{
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 1000px;
    padding: 10px;
}
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    margin: 7px 0;
}
.output{
    /* background: rgb(77, 76, 76); */
    width: 40%;
    border: 2px solid;
    border-radius: 10px;
    height: 50px;
    overflow: auto;
    margin: 0 20px;
    padding: 10px 7px;
    font-size: 17px;
    color: white;
    border: none;
}

input, label{
    margin: 15px 10px;
    font-size: 17px;
    font-family: sans-serif;
}
#passlength{
    text-align: center;
}
button{
    cursor: pointer;
    margin: 10px 15px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
    /* background-color: orangered; */
    border: none;
    outline: none;
    color: white;
}

.container2{
    display: flex;
    flex-direction: row;

}